{% extends "page/base.html" %}
{% block content %}
<div class="row" style="margin-top:50px;">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-6 custom-background boxs" style="border-radius:5px; padding:20px;">
    <i class="fas fa-exclamation-circle text-danger" style="margin:auto; display:block; text-align: center;font-size: 100px; margin:20px 0px; "></i>
    <h1 style="color:white; text-align:center; font-weight:bold;">Your order is not complete</h1>
    <a href="{% url 'pricing' %}" class="btn btn-danger" style="color:white !important; margin:10px 0px; margin:auto; display:block;">Back to pricing</a>
    <p style="color:white; text-align:center; margin-top:10px; font-size:15px;">Have a question ? Need Help ? Contact us support@ocwus.com</p>
  </div>
  <div class="col-sm-3">

  </div>
</div>
{% endblock content %}
