{% extends "page/base.html" %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{% block content %}
<section class="content-section mb-5 mt-3">
<div class="row mb-5">
  <div class="col-sm-12">
    <h1 style="text-align:center; font-weight:bold;">Find Winning Products & Spy Your Competitors</h1>
    <h4 style="text-align:center;">Choose your plan and get access to your dashboad now !</h4>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col"  style="padding: 15px;">
    <div class="card h-100">
      <div class="card-body">
        <p style="text-align:center; color:#FAB578 !important; margin:0px;">Discover Trakly</p>
        <h2 class="card-title" style="font-weight:bold; text-align:center;"><span style="font-size:30px;"> Free</span> <span>$0 <span class="text-secondary" style="text-decoration:line-through; font-size:25px; font-weight:normal;"></span></span></h2>
        <p class="text-secondary" style="text-align:center; margin-top:-10px; font-size:14px;">Try some basic features</p>
        <ul class="list-group" style="font-size:15px;">
          <li class="list-group-item">5 defined Shops spied</li>
          <li class="list-group-item">5 defined Products spied</li>
          <li class="list-group-item text-secondary" style="text-decoration:line-through;">Average Order Product </li>
          <li class="list-group-item text-secondary" style="text-decoration:line-through;">Acess to Discover</li>
          <li class="list-group-item text-secondary" style="text-decoration:line-through;">Export Product Page</li>
          <li class="list-group-item">Basic Support</li>
          <li class="list-group-item text-secondary" style="text-decoration:line-through;">Weekly Emails Report</li>
          <li class="list-group-item text-secondary" style="text-decoration:line-through;">Top Shops Ranking</li>
        </ul>
      </div>
      <div class="card-footer">
        <form action="{% url 'create-checkout-session' '1' %}" method="POST">
            {% csrf_token %}
            {% if user.profile.user_subscription == "free"%}
            <button type="submit" class=" disabled btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Your current plan</button>
            {% else %}
            <button type="submit" class="btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Get free plan now</button>
            {% endif %}        </form>
      </div>
    </div>
  </div>
  <div class="col" style="padding: 10px;">
    <div class="card h-100">
      <div class="card-body">
        <p style="text-align:center; color:#FAB578 !important; margin:0px;">Early bird offer</p>
        <h2 class="card-title" style="font-weight:bold; text-align:center;"><span style="font-size:30px;"> Small</span> <span>$49 <span class="text-secondary" style="text-decoration:line-through; font-size:25px; font-weight:normal;">$69</span></span></h2>
        <p class="text-secondary" style="text-align:center; margin-top:-10px; font-size:14px;">Per month without commitment</p>
        <ul class="list-group" style="font-size:15px;">
          <li class="list-group-item">30 Shops spied <small>| 1,63$ per shop</small></li>
          <li class="list-group-item">30 Products spied</li>
          <li class="list-group-item">Average Order Product </li>
          <li class="list-group-item">Acess to Discover</li>
          <li class="list-group-item">Export Product Page</li>
          <li class="list-group-item">Priority Support</li>
          <li class="list-group-item text-secondary" style="text-decoration:line-through;">Weekly Emails Report</li>
          <li class="list-group-item text-secondary" style="text-decoration:line-through;">Top Shops Ranking</li>
        </ul>
      </div>
      <div class="card-footer">
        <form action="{% url 'create-checkout-session' '1' %}" method="POST">
            {% csrf_token %}
            {% if user.profile.user_subscription == "small"%}
            <button type="submit" class=" disabled btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Your current plan</button>
            {% else %}
            <button type="submit" class="btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Get small plan now</button>
            {% endif %}
        </form>
      </div>
    </div>
  </div>
  <div class="col">

    <div class="card h-100" style="border:2px solid #0F1215;">
      <span style="margin: auto;margin-top: auto;background-color: #0F1215;color: white;padding: 5px 10px;border-radius: 20px;margin-top: -15px;">Best offer !</span>
      <div class="card-body">
        <p style="text-align:center; color:#FAB578 !important; margin:0px;">Early bird offer</p>
        <h2 class="card-title" style="font-weight:bold; text-align:center;"><span style="font-size:30px;"> Plus</span> <span>$89 <span class="text-secondary" style="text-decoration:line-through; font-size:25px; font-weight:normal;">$109</span></span></h2>
        <p class="text-secondary" style="text-align:center; margin-top:-10px; font-size:14px;">Per month without commitment</p>
        <ul class="list-group" style="font-size:15px;">
          <li class="list-group-item">60 Shops spied <small>| 1,48$ per shop</small></li>
          <li class="list-group-item">60 Products spied</li>
          <li class="list-group-item">Average Order Product </li>
          <li class="list-group-item">Acess to Discover</li>
          <li class="list-group-item">Export Product Page</li>
          <li class="list-group-item">Priority Support</li>
          <li class="list-group-item">Weekly Emails Report</li>
          <li class="list-group-item">Top Shops Ranking</li>
        </ul>
      </div>
      <div class="card-footer">
        <form action="{% url 'create-checkout-session' '2' %}" method="POST">
            {% csrf_token %}
            {% if user.profile.user_subscription == "plus"%}
            <button type="submit" class=" disabled btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Your current plan</button>
            {% else %}
            <button type="submit" class="btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Get plus plan now</button>
            {% endif %}        </form>
      </div>
    </div>
  </div>
  <div class="col"  style="padding: 10px;">
    <div class="card h-100">
      <div class="card-body">
        <p style="text-align:center; color:#FAB578 !important; margin:0px;">Early bird offer</p>
        <h2 class="card-title" style="font-weight:bold; text-align:center;"><span style="font-size:30px;"> Pro</span> <span>$139 <span class="text-secondary" style="text-decoration:line-through; font-size:25px; font-weight:normal;">$159</span></span></h2>
        <p class="text-secondary" style="text-align:center; margin-top:-10px; font-size:14px;">Per month without commitment</p>
        <ul class="list-group" style="font-size:15px;">
          <li class="list-group-item">100 Shops spied <small>| 1,39$ per shop</small></li>
          <li class="list-group-item">100 Products spied</li>
          <li class="list-group-item">Average Order Product </li>
          <li class="list-group-item">Acess to Discover</li>
          <li class="list-group-item">Export Product Page</li>
          <li class="list-group-item">Priority Support</li>
          <li class="list-group-item">Weekly Emails Report</li>
          <li class="list-group-item">Top Shops Ranking</li>
        </ul>
      </div>
      <div class="card-footer">
        <form action="{% url 'create-checkout-session' '3' %}" method="POST">
            {% csrf_token %}
            {% if user.profile.user_subscription == "pro"%}
            <button type="submit" class=" disabled btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Your current plan</button>
            {% else %}
            <button type="submit" class="btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Get pro plan now</button>
            {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock content %}
