{% extends "page/base.html" %}
{% block content %}
<div class="row" style="margin-top:50px;">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-6 custom-background boxs" style="border-radius:5px; padding:20px;">
    <i class="far fa-check-circle text-success" style="margin:auto; display:block; text-align: center;font-size: 100px; margin:20px 0px; "></i>
    <h1 style="color:white; text-align:center; font-weight:bold;">Your order is complete</h1>
    <p style="color:white; text-align:center; font-size:15px;">Find all your order history in your profile page</p>
    <ul class="list-group">
      <li class="list-group-item"><span style="font-weight:bold;">Order #{{ order.id }}</span>  Paid by card <span class="text-success" style="font-weight:bold;">{% widthratio order.order_price 100 1 %}$</span></li>
      {% if order.order_price == 3000 %}
      <li class="list-group-item">Pack Starter - 1000 Messages + 100 Free</li>
      {% elif order.order_price == 20000%}
      <li class="list-group-item">Pack Plus - 10000 Messages + 1000 Free</li>
      {% elif order.order_price == 120000%}
      <li class="list-group-item">Pack Business - 100000 Messages + 10000 Free</li>
      {% endif %}
      <li class="list-group-item">{{order.order_date |date:"M d, Y"}}</li>

    </ul>
    <a href="{% url 'dashboard' %}" class="btn btn-success" style="color:white !important; margin:10px 0px; margin:auto; display:block;">Back to home page</a>
    <p style="color:white; text-align:center; margin-top:10px; font-size:15px;">Have a question ? Need Help ? Contact us support@ocwus.com</p>
  </div>
  <div class="col-sm-3">

  </div>
</div>
{% endblock content %}
