{% extends "page/errors/base_error.html" %}
{% block content %}
<section class="content-section mb-5">
  <div class="row justify-content-center">
    <div class="col-sm-6">
        <div style="text-align:center;">
            <i class="fa-solid fa-circle-exclamation mb-3" style="font-size:85px;"></i>
            <h1>Oups... Error 403</h1>
            <h4>You do not have permission to access this page</h4>
            <p>If the error persists, do not hesitate to contact us</p>
            <a class="main-btn" href="{% url 'dashboard' %}">Return to dashboard</a>
        </div>
    </div>
  </div>
  <div class="row">

  </div>
</section>
<style>


      div {
    word-wrap: break-word
    }
    
    .content-section{
      padding:15vh 0;
    }

    
    </style>
    

{% endblock content %}
