{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'page/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="https://zupimages.net/up/22/44/hwcw.png"/>
    <script src="https://kit.fontawesome.com/08490a1997.js" crossorigin="anonymous"></script>
    {% if title %}
      <title>{{ title }} - Trakly</title>
    {% else %}
      <title>Trakly</title>
    {% endif%}
  </head>
  <body>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div id="flashmessage" class="alert alert-{{ message.tags }} mb-0" style="position:absolute; top: 9vh; right: 14%;">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% block content %}
    {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
  <script>
    $("#flashmessage").fadeOut(4000);
  </script>
</html>
