{% extends "page/base.html" %}
{% block content %}
<div class="content-section mb-5">
    <div class="row justify-content-center gx-5">
        <div class="col-sm-12">
            <h1 class="mb-2 text-center" style="font-weight:bold;">Legal Notice</h1>
        </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
        <div class="col-lg-8">

        </div>
      </div>
</div>
<style>


.content-section{
  padding:10vh 0;
}


  a:hover{
    cursor:pointer !important;
  }

  input{
    border: 2px solid #F2F7F7 !important;;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
    margin:20px 0px;
    padding:10px 20px !important;
  }



</style>

{% endblock content %}
