{% extends "page/base.html" %}
{% block content %}
<div class="content-section mb-5">
    <div class="row justify-content-center gx-5">
        <div class="col-sm-12">
            <h1 class="mb-2 text-center" style="font-weight:bold;">Patch Notes</h1>
            <h4 class="mb-2 text-center">See what new on trakly and what comming next</h4>
        </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
        <div class="col-lg-8">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button style="color:#0F1317;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Current version - Realse V1.0  <span style="font-size:12px;">- 18/11/2022</span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" style="color:#0F1317;">
                    Discover Trakly V1.0 with its first features :<br><br>
                    <small>
                    -Spying on stores, products, and orders <br>
                    -Live orders tracking <br>
                    -Average Orders Product <br>
                    -Access to Discover<br>
                    </small>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
</div>
<style>
.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.accordion-button:not(.collapsed) {
  background-color: #ececec;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-button {
  color:white;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.content-section{
  padding:10vh 0;
}


  a:hover{
    cursor:pointer !important;
  }

  input{
    border: 2px solid #F2F7F7 !important;;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
    margin:20px 0px;
    padding:10px 20px !important;
  }



  .form-control::placeholder {
  color: black;
  opacity: 0.3;
}

  .main-btn-small{
  background-color:#0F1215;
  border-radius:5px;
  color:white;
  border:3px solid #0F1215;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 8px 55px;
  font-size: 18px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .main-btn-small:hover{
    background-color:white;
    border-radius:5px;
    color:#0F1215;
    border:3px solid #0F1215;
  }


</style>

{% endblock content %}
