<div class="mt-4">
  <ul class="pagination" style="justify-content: center;">
    {% if products_data.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ products_data.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled" style="opacity:0.3;"><a class="page-link">Previous</a></li>
    {% endif %}

    {% for i in products_data.paginator.page_range %}
      {% if store_data.number == i %}
        <li class="page-item"><a class="page-link" href="#">{{ i }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if products_data.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ products_data.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item disabled" style="opacity:0.3;"><a class="page-link">Next</a></li>
    {% endif %}
  </ul>
</div>
<style>
  .page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: white !important;
    font-size:13px;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
</style>
