{% extends "page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <main class="form-signin">

    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="pt-4 form-group" >
      <h3 class="mb-2 text-center" style="font-weight:bold;">Track new store  now</h3>
      <p class="subtitle text-center mb-0">Start tracking data now</p>
      </div>
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <div class="form-group pt-3" style="margin: auto;text-align: center;display: block;">
        <button type="submit" name="button" class="main-btn-small">Track now</button>
      </div>
    </form>

    <div class="pt-3 pb-4 text-center">
      <small class="text-muted" style="font-size:13px;">
      </small>
    </div>
  </main>

</div>
<script>
  document.getElementsByName('store_name')[0].placeholder="Store name";
  document.getElementsByName('store_url')[0].placeholder='storename.myshopify.com';
</script>
<style>


  #id_is_creator{display:none !important;}
  #div_id_is_creator{display:none !important;}

.content-section{
  padding:10vh 0;
}
  label{
  display:none;
}
#hint_id_password1, #hint_id_password2, #hint_id_username{
  display:none;

}
  .form-signin {
    width: 100%;
    max-width: 475px;
    padding: 25pxpx;
    margin: auto;
    background-color:white;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
  fieldset .form-group{
    width: 85%;
    margin: auto;
  }
  .subtitle{
    font-size:14px;

  }

  a:hover{
    cursor:pointer !important;
  }

  input{
    border: 2px solid #F2F7F7 !important;;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
    margin:20px 0px;
    padding:10px 20px !important;
  }



  .form-control::placeholder {
  color: black;
  opacity: 0.3;
}

  .main-btn-small{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  border-radius:5px;
  color:white;
  border:0px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 8px 55px;
  font-size: 18px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }





</style>

{% endblock content %}
