{% extends "page/base.html" %}
{% block content %}
<section class="content-section mb-5">
  <div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'store-list' %}">Stores</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{store.store_name}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center gx-5 header-card">
    <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-1" style="padding:0px;">
            <div  style=" width:60px; height:60px; border-radius:10px; background-color:#f7f7f7; margin: auto;">
              <img src="{{ store.store_icon }}" width="45px" style=" text-align:center; display: flex; justify-content: center; padding-top: 9px; margin: auto;">
            </div>
          </div>
          <div class="col-sm-11">
            <h2 class="mb-0">{{store.store_name}}
               <span class="badge rounded-pil" style="background-color:#95C9B4; color:#008060; font-size:12px; margin-top:8px; position:absolute; margin-left:5px;">Tracked</span></h2>
            <div class="row">
              <div class="col-sm-4">
                <span class="text-secondary" style="font-size:14px;"><i class="fa-solid fa-link"></i> {{ store.store_url }}</span>
              </div>
              <div class="col-sm-4">
                <div class="row justify-content-center" style="margin-top:-35px;">
                  <div class="col-sm-4" style="padding-right:0px;">
                  </div>
                  <div class="col-sm-8" style="padding-left:0px;">
                    <p style="font-size:14px; margin-bottom:0px; color:#aaa !important;"><i class="fa-solid fa-calendar-days"></i> Sales last 7 days</p>
                    <h2 class="mb-0" style="font-weight:bold; text-align:center; font-size:40px; margin:0px;text-align:left;">0$</h2>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row justify-content-center" style="margin-top:-35px;">
                  <div class="col-sm-4" style="padding-right:0px;">
                  </div>
                  <div class="col-sm-8" style="padding-left:0px;">
                    <p style="font-size:14px; margin-bottom:0px; color:#aaa !important;"> <i class="fa-solid fa-clock"></i> Sales last 24 hours</p>
                    <h2 class="mb-0" style="font-weight:bold; text-align:center; font-size:40px; margin:0px;text-align:left;">0$</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div><br>


  <div class="row justify-content-center gx-5 header-card">
    <div class="col-sm-6">
      <canvas id="7dChart"></canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="24hChart"></canvas>
    </div>
  </div>


  <div class="row justify-content-center gx-5 mt-4">
    <div class="col-sm-6">
        <p class="mb-0">Last<strong> 5 </strong>orders<br>
        </p>
    </div>
    <div class="col-sm-6">
    </div>
  </div>

  {% if last5orderformat %}
    {% for order in last5orderformat %}
      <div class="row justify-content-center gx-5 header-card"style="padding:5px; 5px">
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-1" style="padding-left:0px;">
              <img src="{{order.1}}" width="35px" style="border-radius:5px;">
            </div>
            <div class="col-sm-11">
              <p style="margin:0px; font-size:15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:50%;">{{order.0}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <p class="text-secondary" style="margin:0px; font-size:12px;">Subtotal</p>
          {{order.3}}$
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-1">
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row justify-content-center gx"style="padding:15px">
      <div class="col-sm-12">
        <p style="text-align:center; margin:0px;" class="text-secondary">No orders have been placed at this time.</p>
      </div>
    </div>
  {% endif %}

  <div class="row justify-content-center gx-5 mt-4">
    <div class="col-sm-6">
        <p class="mb-0"><strong> {{ store.store_name}}</strong> Products list<br>
          <p class="text-secondary" style="font-size:14px; margin-top:-5px;">{{products.count}} products in total</p>
        </p>
    </div>
    <div class="col-sm-6">
    </div>
  </div>

  {% for product in products_data %}
  <div class="row justify-content-center gx-5 header-card"style="padding:10px; 5px">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-1" style="padding-left:0px;">
          <img src="{{product.product_image}}" width="45px" style="border-radius:5px;">
        </div>
        <div class="col-sm-11">
          <p style="margin:0px; font-size:15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:50%;">{{product.product_title}}</p>
          <p class="text-secondary" style="font-size: 12px;">Created at : {{ product.product_created_at |date:'d-m-Y' }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <p class="text-secondary" style="margin:0px; font-size:12px;"> Price</p>
      {{product.product_price |stringformat:".2f" }}$
    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-1">
      <a class="text-secondary" style="text-align:center; margin:auto; display:block; margin-top:10px;" target="_blank" href="https://{{store.store_url}}/products/{{product.product_handle}}"><i class="fa-solid fa-eye"></i></a>
    </div>
  </div>
  {% endfor %}
  {% include "store/pagination.html" %}
<br><br>
  {% for data in store_data %}
  <div class="row justify-content-center gx-5">
    <div class="col-sm-3">
        <p>{{data.data_store }}</p>
    </div>
    <div class="col-sm-3">
      <p>{{data.data_date |date:'Y-m-d H:M:s'}}</p>
    </div>
    <div class="col-sm-3">
      <p>{{data.data_product}}</p>
    </div>
    <div class="col-sm-3">
      <p>{{data.data_subtotal}}€</p>
    </div>
  </div>
  {% endfor %}
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels24h = [
    {{last24h.23.0}}+"h",
    {{last24h.22.0}}+"h",
    {{last24h.21.0}}+"h",
    {{last24h.20.0}}+"h",
    {{last24h.19.0}}+"h",
    {{last24h.18.0}}+"h",
    {{last24h.17.0}}+"h",
    {{last24h.16.0}}+"h",
    {{last24h.15.0}}+"h",
    {{last24h.14.0}}+"h",
    {{last24h.13.0}}+"h",
    {{last24h.12.0}}+"h",
    {{last24h.11.0}}+"h",
    {{last24h.10.0}}+"h",
    {{last24h.9.0}}+"h",
    {{last24h.8.0}}+"h",
    {{last24h.7.0}}+"h",
    {{last24h.6.0}}+"h",
    {{last24h.5.0}}+"h",
    {{last24h.4.0}}+"h",
    {{last24h.3.0}}+"h",
    {{last24h.2.0}}+"h",
    {{last24h.1.0}}+"h",
    {{last24h.0.0}}+"h",
  ];

  const labels7d = [
    "{{last7d.6.0}}",
    "{{last7d.5.0}}",
    "{{last7d.4.0}}",
    "{{last7d.3.0}}",
    "{{last7d.2.0}}",
    "{{last7d.1.0}}",
    "{{last7d.0.0}}",
  ];

  const dataweek = {
    labels: labels7d,
    datasets: [{
      label: 'Sales over 7 days',
      backgroundColor: '#008060',
      borderColor: '#008060',
      data: [
        {{subtotalorderbyday.6}}, 
        {{subtotalorderbyday.5}}, 
        {{subtotalorderbyday.4}}, 
        {{subtotalorderbyday.3}}, 
        {{subtotalorderbyday.2}}, 
        {{subtotalorderbyday.1}}, 
        {{subtotalorderbyday.0}}, 
      ],
      
    }]
  };

      
 
  const dataday = {
    labels: labels24h,
    datasets: [{
      label: 'Sales over 24hours',
      backgroundColor: '#008060',
      borderColor: '#008060',
      data: [
        {{subtotalorderbyhour.23}}, 
        {{subtotalorderbyhour.22}}, 
        {{subtotalorderbyhour.21}}, 
        {{subtotalorderbyhour.20}}, 
        {{subtotalorderbyhour.19}}, 
        {{subtotalorderbyhour.18}}, 
        {{subtotalorderbyhour.17}}, 
        {{subtotalorderbyhour.16}}, 
        {{subtotalorderbyhour.15}}, 
        {{subtotalorderbyhour.14}}, 
        {{subtotalorderbyhour.13}}, 
        {{subtotalorderbyhour.12}}, 
        {{subtotalorderbyhour.11}}, 
        {{subtotalorderbyhour.10}}, 
        {{subtotalorderbyhour.9}}, 
        {{subtotalorderbyhour.8}}, 
        {{subtotalorderbyhour.7}}, 
        {{subtotalorderbyhour.6}}, 
        {{subtotalorderbyhour.5}}, 
        {{subtotalorderbyhour.4}}, 
        {{subtotalorderbyhour.3}}, 
        {{subtotalorderbyhour.2}}, 
        {{subtotalorderbyhour.1}}, 
        {{subtotalorderbyhour.0}}, 
      ],
    }]
  };

  const configweek = {
    type: 'bar',
    data: dataweek,
    options: {}
  };
  const configday = {
    type: 'bar',
    data: dataday,
    options: {}
  };
</script>
<script>
  const weekChart = new Chart(
    document.getElementById('7dChart'),
    configweek
  );

  const dayChart = new Chart(
    document.getElementById('24hChart'),
    configday
  );
</script>
<style>

.card-header-icone{
  fill:#C6CCCF !important;
  width:11px;
  margin-bottom:3px;
}

.up{
  fill:#1c8e71;
  width:19px;
}

.down{
  fill:#d72c0d;
  width:19px;
}

.column-today-left{
border-radius: 5px;

padding: 10px;

}

#row1 {
    background: white;
}
#row2 {
    background: #F2F7F7;

}

.column-today-right{
border-radius: 5px;
padding: 10px;

}
.download-svg{
  width:20px;
  fill:;
  float: right;
}

.card-reporting{
  border:2px solid #0000000a;
  padding: 10px 20px;
  margin: auto;
  border-radius:5px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;

}

.card-reporting p{
  text-align:left;
  margin:0px;
  font-size:13px;
  color: #42474D !important;
}

  div{
      word-wrap: break-word
  }

  .content-section{
    padding:8vh 0;
  }
  label{
    display:none;
  }

  a{
    text-decoration: none !important;
    cursor:pointer;
    }

    a:hover{
      cursor:pointer !important;
    }

  .header-card {
  padding: 15px 5px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius:5px;
  border:2px solid #F2F7F7;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }

  .task-card {
  padding: 15px 20px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius:5px;
  border:2px solid #F2F7F7;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }

  .card-data-header p{
    margin-bottom:0px;
    font-size:14px;
    text-align:left;
    font-weight:400;
    color:#C6CCCF !important;
  }

  .card-data-header{
    background-color: #212529;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 1px;
    margin-left: 1px;
    padding: 3px;
  }

  .card-data{
    margin: auto;
    background-color:#FFFFFF;
    border-radius:5px;
    border:2px solid #F2F7F7;
  }

  .card-data p{
    margin-bottom:-5px !important;
    font-size:14px;
    text-align:left;
    padding:10px 0px;
    font-weight:400;
  }

  fieldset .form-group{
  width: 85%;
  margin: auto;
  }
  .subtitle{
  font-size:14px;
  }



  input{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin:20px 0px;
  padding:10px 20px !important;
  }

  button a{
      all:unset !important;
  }


  .form-control::placeholder {
  color: black;
  opacity: 0.3;
  }

  .main-btn{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-radius:5px;
    color:white !important;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 8px 16px;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }



  </style>
{% endblock content %}
