{% extends "page/base.html" %}
{% block content %}
<section class="content-section mb-5">
  <div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Stores</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center gx-5">
    <div class="col-sm-6">
        <h5 class="mb-0" style="margin:0;">List of stores tracked </h5>
        <p style="float:left; margin:0; font-size:14px;"class="text-secondary"><a class="text-secondary" href="{% url 'pricing' %}"> {{ user.profile.user_track_store}} / {{user.profile.user_track_max_store}} stores tracked</a></p>
    </div>
    <div class="col-sm-6">
        {% if user.profile.user_track_store == user.profile.user_track_max_store %}
        <a class="btn main-btn"  style="float:right; border:none;" href="{% url 'pricing' %}">
          {% if user.profile.user_subscription == "free" %}
          Upgrade now to Small Plan
          {% elif user.profile.user_subscription == "small" %}
          Upgrade now to Plus Plan
          {% elif user.profile.user_subscription == "plus" %}
          Upgrade now to Pro Plan
          {% elif user.profile.user_subscription == "pro" %}
          Contact us to upgrade your plan
          {% else %}
          {%endif%}
        </a>
        {% elif user.profile.user_track_store < user.profile.user_track_max_store %}
        <a class="btn main-btn" style="float:right; border:none;" href="{% url 'store-create' %}"><i class="fa-solid fa-plus"></i> Track new store </a>
        {% endif %}
    </div>
  </div><br>
  {% for store in user_stores %}
  <a href="{% url 'store-detail' store.pk %}">
  <div class="row justify-content-center gx-5 header-card mt-2 mb-2">
    <div class="col-sm-1">
      {% if store.store_icon %}
      <div  style=" width:60px; height:60px; border-radius:10px; background-color:#f7f7f7;">
        <img src="{{ store.store_icon }}" width="45px" style=" text-align:center; display: flex; justify-content: center; padding-top: 9px; margin: auto;">
      </div>
      {% else %}
      <div class="gradient" style=" width:60px; height:60px; border-radius:10px;">
        <i class="fa-brands fa-shopify" style="color:white;font-size:35px; text-align:center; display: flex; justify-content: center; padding-top: 11px;"></i>
      </div>
      {% endif %}
    </div>
    <div class="col-sm-6" style="padding-left: 0px;">
      <h3 class="mb-0" style="font-weight:bold; display: inline-block;">{{ store.store_name }}
        <span class="badge rounded-pil" style="background-color:#95C9B4; color:#008060; font-size:12px; margin-top:8px; position:absolute; margin-left:5px;">Tracked</span>
      </h3>
      {% for data in user_stores_last24h %}
      {% if data.1 == store.id %}
      <br><span style="font-size:14px; float: left;" class=" text-secondary"><i class="fa-solid fa-sack-dollar text-secondary"  style="font-size:14px;"></i> Sales last 24hrs : <strong>{{ data.0 |stringformat:".2f" }}$</strong></span>
      {% endif%}
    {% endfor %}
    </div>
    <div class="col-sm-5">
      <br><span class="text-secondary" style="font-size:12px; float: right;"><i class="fa-solid fa-link"></i> {{ store.store_url }}</span>
    </div>
</div>
  </a>
  {% endfor %}




</section>
<style>
.up{
  fill:#1c8e71;
  width:20px;
}

.down{
  fill:#d72c0d;
  width:20px;
}




.card-add{
  border:2px dotted #0000006e;
  padding: 15px 20px;
  margin: auto;
  border-radius:5px;
}

.card-add p{
  color:#0000006e !important;
  text-align:center;
  margin:0px;
  font-size:14px;
}

  div{
      word-wrap: break-word
  }

  .content-section{
    padding:8vh 0;
  }
  label{
    display:none;
  }

  a{
    text-decoration: none !important;
    cursor:pointer;
    }

    a:hover{
      cursor:pointer !important;
    }

  .header-card {
  padding: 15px 5px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius:5px;
  border:2px solid #F2F7F7;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }

  .task-card {
  padding: 15px 20px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius:5px;
  border:2px solid #F2F7F7;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }

  fieldset .form-group{
  width: 85%;
  margin: auto;
  }
  .subtitle{
  font-size:14px;
  }



  input{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin:20px 0px;
  padding:10px 20px !important;
  }

  button a{
      all:unset !important;
  }


  .form-control::placeholder {
  color: black;
  opacity: 0.3;
  }

  .main-btn{
  background-color:#000033;
  border-radius:5px;
  color:white;
  border:3px solid #000033;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 8px 32px;
  font-size: 15px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .main-btn:hover{
  background-color:white;
  border-radius:5px;
  color:#000033;
  border:3px solid #000033;
  }

  </style>
{% endblock content %}
