{% extends "page/base.html" %}
{% block content %}
<div class="content-section">
  <main class="form-signin">

    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="pt-4 form-group" >
      <h3 class="mb-2 text-center" style="font-weight:bold;">Delete store</h3>
      </div>
      <div class="form-group pt-3" style="margin: auto;text-align: center;display: block;">
        <button type="submit" name="button" class="main-btn-small">Delete</button>
      </div>
    </form>

    <div class="pt-3 pb-4 text-center">
      <small class="text-muted" style="font-size:13px;">
      </small>
    </div>
  </main>

</div>
<script>
  document.getElementsByName('store_name')[0].placeholder="Nom de votre boutique";
  document.getElementsByName('store_url')[0].placeholder='urldevotreboutique.myshopify.com';
  document.getElementsByName('store_api')[0].placeholder='Token shopify';

</script>
<style>


  #id_is_creator{display:none !important;}
  #div_id_is_creator{display:none !important;}

.content-section{
  padding:10vh 0;
}
  label{
  display:none;
}
#hint_id_password1, #hint_id_password2, #hint_id_username{
  display:none;

}
  .form-signin {
    width: 100%;
    max-width: 475px;
    padding: 25pxpx;
    margin: auto;
    background-color:white;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
  fieldset .form-group{
    width: 85%;
    margin: auto;
  }
  .subtitle{
    font-size:14px;

  }

  a:hover{
    cursor:pointer !important;
  }

  input{
    border: 2px solid #F2F7F7 !important;;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
    margin:20px 0px;
    padding:10px 20px !important;
  }



  .form-control::placeholder {
  color: black;
  opacity: 0.3;
}

  .main-btn-small{
  background-color:#0F1215;
  border-radius:5px;
  color:white;
  border:3px solid #0F1215;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 8px 55px;
  font-size: 18px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .main-btn-small:hover{
    background-color:white;
    border-radius:5px;
    color:#0F1215;
    border:3px solid #0F1215;
  }


</style>

{% endblock content %}
