{% extends "page/base.html" %}
{% block content %}
<section class="content-section mb-5"> 
  <div class="row justify-content-center gx-5">
    <div class="col-sm-6">
        <h5 class="mb-0" style="margin:0;">Happy to see you again <strong>{{user.username}}</strong> !</h5>
        <a href="{% url 'patch' %}" class="text-secondary" style="font-size:12px; text-decoration: underline !important;">See what new on trakly and what comming next</a>
    </div>
    <div class="col-sm-6">
        <p style="float:right; margin:0;" class="mb-0"> {{ user.profile.user_track_store }} / {{ user.profile.user_track_max_store }} stores tracked<strong> - <span style="text-transform:capitalize;">{{ user.profile.user_subscription }}</span> Plan</strong></p><br>
        <p style="float:right; margin:0; font-size:14px;"class="text-secondary"><a class="text-secondary" href="{% url 'pricing' %}">
          {% if user.profile.user_subscription == "free" %}
          Upgrade now to Small Plan
          {% elif user.profile.user_subscription == "small" %}
          Upgrade now to Plus Plan
          {% elif user.profile.user_subscription == "plus" %}
          Upgrade now to Pro Plan
          {% elif user.profile.user_subscription == "pro" %}
          Contact us to upgrade your plan
          {% else %}
          {%endif%}
        </a></p>
    </div>
  </div><br>

  <div class="row justify-content-center gx-5">
    <div class="col-sm-3 card" style="padding-bottom:0px; border-radius:60px;">
        <div class="row justify-content-center gx-5">
          <div class="col-sm-4" style="padding-right:0px;">
            <div class="gradient" style="width:75px; height:75px; border-radius:50%; text-align:center;">
              <i class="fa-brands fa-shopify" style="color:white; text-align:center; font-size:40px; margin-top: 17px;"></i>
            </div>
          </div>
          <div class="col-sm-8" style="padding-left:0px;">
            <p style="font-size:14px; margin-bottom:-5px; color:#aaa !important;">Stores Track</p>
            <h2 class="mb-0" style="font-weight:bold; text-align:center; font-size:40px; margin:0px;text-align:left;">{{stores.count}}</h2>
            <p style="font-size:13px; margin-top:-5px; color:grey;">+ {{added_stores_24h.count}} last 24 hours</p>
          </div>
        </div>
    </div>
    <div class="col-sm-3 card" style="padding-bottom:0px; border-radius:60px;">
        <div class="row justify-content-center gx-5">
          <div class="col-sm-4" style="padding-right:0px;">
            <div class="gradient" style="width:75px; height:75px; border-radius:50%; text-align:center;">
              <i class="fa-solid fa-coins" style="color:white; text-align:center; font-size:40px; margin-top: 17px;"></i>
            </div>
          </div>
          <div class="col-sm-8" style="padding-left:0px;">
            <p style="font-size:14px; margin-bottom:-5px; color:#aaa !important;">Sales Track</p>
            <h2 class="mb-0" style="font-weight:bold; text-align:center; font-size:40px; margin:0px;text-align:left;">{{totalOrders}}<small>$</small></h2>
            <p style="font-size:13px; margin-top:-5px; color:grey;">+ {{totalOrders24h}}$ last 24 hours</p>
          </div>
        </div>
    </div>
    <div class="col-sm-3 card" style="padding-bottom:0px; border-radius:60px;">
        <div class="row justify-content-center gx-5">
          <div class="col-sm-4" style="padding-right:0px;">
            <div class="gradient" style="width:75px; height:75px; border-radius:50%; text-align:center;">
              <i class="fa-solid fa-box-open" style="color:white; text-align:center; font-size:40px; margin-top:17px;"></i>
            </div>
          </div>
          <div class="col-sm-8" style="padding-left:0px;">
            <p style="font-size:14px; margin-bottom:-5px; color:#aaa !important;">Products Track</p>
            <h2 class="mb-0" style="font-weight:bold; text-align:center; font-size:40px; margin:0px;text-align:left;">{{products.count}}</h2>
            <p style="font-size:13px; margin-top:-5px; color:grey;">+ {{added_product_24h.count}} last 24 hours</p>
          </div>
        </div>
    </div>
  </div><br>
  <div class="row justify-content-center gx-5 mt-3 mb-3">
    <div class="col-sm-6">
        <p class="mb-0"> <strong>Trending shops</strong> of the day </p>
    </div>
    <div class="col-sm-6">
    </div>
  </div>

  <div class="row justify-content-center gx-5 header-card" style="background-color:#f7f7f7;">
    <div class="col-sm-4">
      <p class="text-secondary" style="margin:0px;">Stores</p>
    </div>
    <div class="col-sm-3">
      <p class="text-secondary" style="margin:0px;">Sales</p>

    </div>
    <div class="col-sm-2">
      <p class="text-secondary" style="margin:0px;">Products</p>

    </div>
    <div class="col-sm-2">
      <p class="text-secondary" style="margin:0px;">Other</p>

    </div>
    <div class="col-sm-1">
    </div>
  </div>
  {% for store in last3_stores %}
  <div class="row justify-content-center gx-5 header-card">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-1" style="padding:0px; padding-top: 10px;">
          <i class="fa-brands fa-shopify icone-gradient" style="font-size:25px;"></i>
        </div>
        <div class="col-sm-11"  style="padding:0px;">
          <p class="blur" style="margin:0px; margin-left:10px;">TheSensorial</p>
          <p class="blur" style="margin:0px; margin-left:10px; font-size:14px;">thesneosiral.myshopify.com</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="" style="margin:0px;"><span class="blur">2478€</span> in Sales last 24h</p>
      <p  style="margin:0px; font-size:14px;" class="text-secondary">
      {% for data in last3_stores_data %}
        {% if data.0 == store.id %}
          {% if data.2 >= 2 %}
          {{data.1}} Orders in the last 24hrs
          {% else %}
          {{data.1}} Order in the last 24hrs
          {% endif %}
        {% endif %}
      {% endfor %}
      </p>
    </div>
    <div class="col-sm-2">
      <p class="" style="margin:0px;">
        {% for products in last3_stores_products %}
          {% if products.first.product_store.id == store.id %}
              {% if products.count < 2 %}
            {{products.count}} Product
            {% elif products.count > 2  %}
              {{products.count}} Products
            {% endif %}
          {% endif%}
        {% endfor %}
      </p>
      <p  style="margin:0px; font-size:14px;" class="text-secondary">
        {% for data in last3_stores_data %}
          {% if data.0 == store.id %}
            {{data.2|stringformat:".2f"}}$ last 24hrs AOV
          {% endif %}
        {% endfor %}
      </p>
    </div>
    <div class="col-sm-2">
      <p  style="margin:0px; font-size:14px;" class="text-secondary"></p>
    </div>
    <div class="col-sm-1">
      <a class="main-btn" href="{% url 'add_trending_tracking' store.pk %}" style="padding:10px 10px; border-radius:5px; font-size:13px; margin-top:5px; position:absolute; margin-left:-5px;">Track now</a>
    </div>
  </div>
  {% endfor %}


  <div class="row justify-content-center gx-5 mt-4 mb-3">
    <div class="col-sm-6">
        <p class="mb-0"><strong>Trending products</strong> of the day</p>
    </div>
    <div class="col-sm-6">
    </div>
  </div>

  <div class="row justify-content-center gx-5 header-card" style="background-color:#f7f7f7;">
    <div class="col-sm-4">
      <p class="text-secondary" style="margin:0px;">Stores</p>
    </div>
    <div class="col-sm-3">
      <p class="text-secondary" style="margin:0px;">Sales</p>

    </div>
    <div class="col-sm-2">
      <p class="text-secondary" style="margin:0px;">Products</p>

    </div>
    <div class="col-sm-2">
      <p class="text-secondary" style="margin:0px;"></p>

    </div>
    <div class="col-sm-1">
    </div>
  </div>

  {% for product in last3_products %}
  <div class="row justify-content-center gx-5 header-card">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-1" style="padding:0px; padding-top: 10px;">
          <i class="fa-solid fa-box icone-gradient" style="font-size:25px;"></i>
        </div>
        <div class="col-sm-11"  style="padding:0px;">
          <p class="blur" style="margin:0px; margin-left:10px;">TheSensorial</p>
          <p class="blur" style="margin:0px; margin-left:10px; font-size:14px;">thesneosiral.myshopify.com</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="" style="margin:0px;"><span class="blur">2478€</span> in Sales last 24h</p>
      <p  style="margin:0px; font-size:14px;" class="text-secondary">
        {% for data in last3_products_data %}
          {% if data.0 == product.product_id %}
            {% if data.2 >= 2 %}
            {{data.1}} Orders in the last 24hrs
            {% else %}
            {{data.1}} Order in the last 24hrs
            {% endif %}
          {% endif %}
        {% endfor %}
      </p>

    </div>
    <div class="col-sm-4">
      <p style="margin:0px;">
        {% for variants in last3_products_variants %}
        {% if variants.first.variant_product_id == product.product_id %}
            {% if variants.count < 2 %}
          {{variants.count}} Variant
          {% elif variants.count > 2  %}
            {{variants.count}} Variants
          {% endif %}
        {% endif%}
      {% endfor %}
      </p>
      <p class="text-secondary" style="margin:0px; font-size:14px;">Created at : {{ product.product_created_at |date:'d-m-Y' }}</p>

    </div>
    <div class="col-sm-1">
      <a class="main-btn" href="{% url 'add_trending_tracking' product.product_store.pk %}" style="padding:10px 10px; border-radius:5px; font-size:13px; margin-top:5px; position:absolute; margin-left:-5px;">Track now</a>
    </div>
  </div>
  {% endfor %}

</section>
<style>
  .text-gradient{
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) !important;
  -webkit-background-clip: text !important;;
  -webkit-text-fill-color: transparent !important;;
  }


  .blur {
    filter: blur(3px);
  }

.card-add{
  border:2px dotted #0000006e;
  padding: 15px 20px;
  margin: auto;
  border-radius:5px;
}

.card-add p{
  color:#0000006e !important;
  text-align:center;
  margin:0px;
  font-size:14px;
}

  div{
      word-wrap: break-word
  }

  .content-section{
    padding:8vh 0;
  }
  label{
    display:none;
  }

  a{
    text-decoration: none !important;
    cursor:pointer;
    }

    a:hover{
      cursor:pointer !important;
    }



  .header-card {
  padding: 10px 5px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius:5px;
  border:2px solid #F2F7F7;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }

  .card {
  padding: 15px 20px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius:5px;
  border:2px solid #F2F7F7;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }

  fieldset .form-group{
  width: 85%;
  margin: auto;
  }
  .subtitle{
  font-size:14px;
  }



  input{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin:20px 0px;
  padding:10px 20px !important;
  }

  button a{
      all:unset !important;
  }


  .form-control::placeholder {
  color: black;
  opacity: 0.3;
  }

  .main-btn{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-radius:5px;
    color:white;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 8px 16px;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .main-btn-outline{
    background-color:transparent;
    border-radius:5px;
    color:#0F1215;
    border:2px solid #0F1215;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 8px 16px;
    font-size: 0.9rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }



  </style>
{% endblock content %}
