<footer class="py-3">
    <div class="container">
      <ul class="nav justify-content-center   mb-1">
        <li class="nav-item"><a href="{% url 'legal' %}" class="nav-link px-2">Legal Notice</a></li>
        <li class="nav-item"><a href="{% url 'privacy' %}" class="nav-link px-2">Privacy Policy</a></li>
        <li class="nav-item"><a href="https://twitter.com/Traklyio" class="nav-link px-2">Contact-us</a></li>
      </ul>
    <p class="text-center copyright" style="margin:0;">© 2022 Trakly made with 🧡 </p>
    </div>
  </footer>
<style>

</style>
