<footer class="py-3" >
    <div class="container">
      <ul class="nav justify-content-center   mb-1">
        <li class="nav-item"><a href="" class="nav-link px-2" style="color:white !important;">Legal Notice</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2" style="color:white !important;">Privacy Policy</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2" style="color:white !important;">Contact-us</a></li>

      </ul>
    <p class="text-center" style="margin:0;" style="color:white !important;">© 2022 Trakly made with 🧡 </p>
    </div>
  </footer>
<style>

</style>
