<header class="p-3" style="background-color:white;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0  text-decoration-none">
          <img src="https://zupimages.net/up/22/44/qhse.png" height="55px" width="auto">
        </a>
        {% if request.user.is_authenticated %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-0 justify-content-center">
            <li><a href="{% url 'dashboard' %}" class="nav-link px-4"><i class="fa-solid fa-gauge icone-gradient" style="font-size:13px;"></i> <strong>Dashboard</strong></a></li>
            <li><a href="{% url 'store-list' %}" class="nav-link px-4"><i class="fa-solid fa-shop icone-gradient" style="font-size:13px;"></i> <strong>Stores</strong></a></li>
            <li><a href="#" class="nav-link px-4 disabled text-secondary"><i class="fa-sharp fa-solid fa-bolt  text-secondary" style="font-size:13px;"></i> <strong>Discover</strong><span class="badge bg-secondary" style="font-size:10px; margin-top: -15px; position: absolute;">Soon</span></a></li>
          </ul>
          {% else %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2"></a></li>
          </ul>
          {% endif %}


          {% if request.user.is_authenticated %}
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <span style="margin-right:10px; padding:9px 15px; border-radius:50%; color:white; text-transform:uppercase;" class="gradient">{{user.username|make_list|first}}</span>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Account</a></li>
              <li><a class="dropdown-item" href="{% url 'pricing' %}">Subscription</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
          </div>
          {% else %}
          <div class="col-md-3 text-end">
            <a href="{% url 'login' %}" class="btn  main-btn-outline me-2">Login</a>
            <a href="{% url 'register' %}"class="btn  main-btn me-2">Register</a>
          </div>
          {% endif %}

      </div>
    </div>
  </header>
<style>
.soon-badge{
  opacity: 0.7;
position: absolute;
margin-top: -15px;
margin-left: -35px;
font-size: 10px;
}

.dropdown-item:active{
  background-color:#0D1115 !important;
  color:white !important;
}
.gear_svg{
  width:17px;
}


</style>
