<header class="p-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0  text-decoration-none">
          <img src="https://zupimages.net/up/22/45/qh9o.png" height="65px" width="auto">
        </a>


          {% if request.user.is_authenticated %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-0 justify-content-center ">
            <li><a href="#" class="nav-link px-4"><strong></strong></a></li>
          </ul>
          <div class="col-md-3 text-end">
            <a href="{% url 'dashboard' %}"class="btn  main-btn me-2">Acces to my dashboard</a>
          </div>
          {% else %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-0 justify-content-center ">
            <li><a href="#" class="nav-link px-4"><strong>Pricing</strong></a></li>
            <li><a href="#" class="nav-link px-4"><strong>FAQ</strong></a></li>
          </ul>
          <div class="col-md-3 text-end">
            <a href="{% url 'login' %}" class="btn  main-btn-outline me-2" style="color:white !important; border:2px solid white;">Login</a>
            <a href="{% url 'register' %}"class="btn  main-btn me-2">Register</a>
          </div>
          {% endif %}

      </div>
    </div>
  </header>
<style>

li a{
  color:white !important;
}



</style>
