{% extends "page/baseHome.html" %}
{% block content %}
<section class="content-section mb-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img style="border-radius: 10px;" src="https://zupimages.net/up/22/45/479v.jpg" id="shadow-orange" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="700" height="500">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3" style="color:white !important;">Find Winning Products &<br> Spy Your Competitors</h1>
      <p class="lead" style="color:white !important;">With Trakly, you monitor product and store sales<br> and revenues in real time, always staying ahead<br> of your competitors</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn main-btn btn-lg px-4 me-md-2">Get Started</button>
        <button type="button" class="btn btn-lg px-4" style="color:white !important;"><i class="fa-solid fa-circle-play  icone-gradient"></i> How does it work?</button>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">
        <span style="color:grey; font-size:13px;">Recommended by 9 out of 10 users <span style="font-size:11px;"><i class="fa-solid fa-star  icone-gradient"></i><i class="fa-solid fa-star  icone-gradient"></i><i class="fa-solid fa-star  icone-gradient"></i><i class="fa-solid fa-star  icone-gradient"></i><i class="fa-solid fa-star  icone-gradient"></i></span></span>
      </div>
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-5" >
    <div class="col-lg-6">
      <h1 class="display-6 fw-bold lh-1 mb-3" style="color:white !important;">Spy Every Shopify Stores</h1>
      <p class="lead" style="color:white !important;">With the store monitoring function, you will track in real<br> time all your competitors steps, which products are<br> being tested and validated, finding several winning<br> products without any effort !</p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img style="border-radius: 10px;" src="https://zupimages.net/up/22/46/kjk2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="600" height="500">
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-5" >
    <div class="col-10 col-sm-8 col-lg-6">
      <img style="border-radius: 10px;" src="https://zupimages.net/up/22/46/mx94.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="600" height="500">
    </div>
    <div class="col-lg-6">
      <h3 class="display-6 fw-bold lh-1 mb-3" style="color:white !important;">The Most Accurate Tool </h3>
      <p class="lead" style="color:white !important;">Our technology allows us to always provide you with the<br> most up-to-date data. Your dashboard will be updated<br> every hour with the latest data that Trakly has collected.<br> This allows you to always be faster than your competitors.<br> Trakly repeats its queries hundreds of times each day to <br>ensure accurate results.</p>
    </div>
  </div>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Columns with icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon  mb-4">
          <i class="fa-solid fa-crown  icone-gradient"></i>
        </div>
        <h2>Get winners products</h2>
        <p>Don't waste time and money on random product testing, get only the winners.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon  mb-4">
          <i class="fa-solid fa-arrow-up-right-dots icone-gradient"></i>
        </div>
        <h2>Anticipate the trends</h2>
        <p>See what others stores are selling and be the pioneer in our market.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon  mb-4">
          <i class="fa-solid fa-user-secret  icone-gradient"></i>
        </div>
        <h2>Spy your competitors</h2>
        <p>Find out what your competitors are selling in real time, and get their metrics.</p>
      </div>
    </div>
  </div>

  <div class="row mb-3 mt-5">
    <div class="col-sm-12">
      <h1 style="text-align:center; font-weight:bold; color:white !important;">Find Winning Products & Spy Your Competitors</h1>
      <h4 style="text-align:center; color:white !important;">Choose your plan and get access to your dashboad now !</h4>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 mt-5 mb-5">
    <div class="col"  style="padding: 15px;">
      <div class="card h-100" style="border:2px solid #26282B;">
        <div class="card-body">
          <p style="text-align:center; color:#FAB578 !important; margin:0px;">Discover Trakly</p>
          <h2 class="card-title" style="font-weight:bold; text-align:center;"><span style="font-size:30px;color:white;"> Free</span> <span style="color:white;">$0 <span class="text-secondary" style="text-decoration:line-through; font-size:25px; font-weight:normal;"></span></span></h2>
          <p class="text-secondary" style="text-align:center; margin-top:-10px; font-size:14px;">Try some basic features</p>
          <ul class="list-group" style="font-size:15px;">
            <li class="list-group-item">5 defined Shops spied</li>
            <li class="list-group-item">5 defined Products spied</li>
            <li class="list-group-item text-secondary" style="text-decoration:line-through;">Average Order Product </li>
            <li class="list-group-item text-secondary" style="text-decoration:line-through;">Acess to Discover</li>
            <li class="list-group-item text-secondary" style="text-decoration:line-through;">Export Product Page</li>
            <li class="list-group-item">Basic Support</li>
            <li class="list-group-item text-secondary" style="text-decoration:line-through;">Weekly Emails Report</li>
            <li class="list-group-item text-secondary" style="text-decoration:line-through;">Top Shops Ranking</li>
          </ul>
        </div>
        <div class="card-footer">
          <form action="{% url 'create-checkout-session' '1' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Get small plan now</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col" style="padding: 10px;">
      <div class="card h-100" style="border:2px solid #26282B;">
        <div class="card-body">
          <p style="text-align:center; color:#FAB578 !important; margin:0px;">Early bird offer</p>
          <h2 class="card-title" style="font-weight:bold; text-align:center;"><span style="font-size:30px;color:white;"> Small</span> <span style="color:white;">$49 <span class="text-secondary" style="text-decoration:line-through; font-size:25px; font-weight:normal;">$69</span></span></h2>
          <p class="text-secondary" style="text-align:center; margin-top:-10px; font-size:14px;">Per month without commitment</p>
          <ul class="list-group" style="font-size:15px;">
            <li class="list-group-item">30 Shops spied <br><small class="text-secondary" style="font-size:13px; margin-top:-5px;">1,63$ per shop</small></li>
            <li class="list-group-item">30 Products spied</li>
            <li class="list-group-item">Average Order Product </li>
            <li class="list-group-item">Acess to Discover</li>
            <li class="list-group-item">Export Product Page</li>
            <li class="list-group-item">Priority Support</li>
            <li class="list-group-item text-secondary" style="text-decoration:line-through;">Weekly Emails Report</li>
            <li class="list-group-item text-secondary" style="text-decoration:line-through;">Top Shops Ranking</li>
          </ul>
        </div>
        <div class="card-footer">
          <form action="#" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Get small plan now</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card h-100" style="border:2px solid white;">
        <span style="margin: auto;margin-top: auto;background-color:white !important; color:#0F1215;padding: 5px 10px;border-radius: 20px;margin-top: -25px;">Best offer !</span>
        <div class="card-body">
          <p style="text-align:center; color:#FAB578 !important; margin:0px;">Early bird offer</p>
          <h2 class="card-title" style="font-weight:bold; text-align:center;"><span style="font-size:30px; color:white;">Plus</span> <span style="color:white;">$89 <span class="text-secondary" style="text-decoration:line-through; font-size:25px; font-weight:normal;">$109</span></span></h2>
          <p class="text-secondary" style="text-align:center; margin-top:-10px; font-size:14px;">Per month without commitment</p>
          <ul class="list-group" style="font-size:15px;">
            <li class="list-group-item">60 Shops spied <br><small class="text-secondary" style="font-size:13px; margin-top:-5px;">1,48$ per shop</small></li>
            <li class="list-group-item">60 Products spied</li>
            <li class="list-group-item">Average Order Product </li>
            <li class="list-group-item">Acess to Discover</li>
            <li class="list-group-item">Export Product Page</li>
            <li class="list-group-item">Priority Support</li>
            <li class="list-group-item">Weekly Emails Report</li>
            <li class="list-group-item">Top Shops Ranking</li>
          </ul>
        </div>
        <div class="card-footer">
          <form action="#" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Get medium plan now</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col"  style="padding: 10px;">
      <div class="card h-100" style="border:2px solid #26282B;">
        <div class="card-body">
          <p style="text-align:center; color:#FAB578 !important; margin:0px;">Early bird offer</p>
          <h2 class="card-title" style="font-weight:bold; text-align:center;"><span style="font-size:30px; color:white;"> Pro</span> <span style="color:white;">$139 <span class="text-secondary" style="text-decoration:line-through; font-size:25px; font-weight:normal;">$159</span></span></h2>
          <p class="text-secondary" style="text-align:center; margin-top:-10px; font-size:14px;">Per month without commitment</p>
          <ul class="list-group" style="font-size:15px;">
            <li class="list-group-item">100 Shops spied <br><small class="text-secondary" style="font-size:13px; margin-top:-5px;">1,39$ per shop</small></li>
            <li class="list-group-item">100 Products spied</li>
            <li class="list-group-item">Average Order Product </li>
            <li class="list-group-item">Acess to Discover</li>
            <li class="list-group-item">Export Product Page</li>
            <li class="list-group-item">Priority Support</li>
            <li class="list-group-item">Weekly Emails Report</li>
            <li class="list-group-item">Top Shops Ranking</li>
          </ul>
        </div>
        <div class="card-footer">
          <form action="#" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn main-btn" style="color:white !important;  margin:auto; display:block; width:100%;">Get pro plan now</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row " style="margin-top: 9rem !important; margin-bottom:-2rem;">
    <div class="col-sm-12">
      <h1 style="text-align:center; font-weight:bold; color:white !important;">Fequently asked questions</h1>
      <h4 style="text-align:center; color:white !important;">You got questions ? We got answer !</h4>
    </div>
  </div>
<div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
  <div class="col-lg-8">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Why Trakly and not another?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="color:white;">
            Trakly is the most powerful tool ever created on the market right now.<br>
            In addition to having the fastest and most accurate reports, we offer a much lower price than the competition, with more features.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            What are the features?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="color:white;">
            Depending on the plan, we offer the most complete functionalities. <br>
            We offer:<br>
            -Spying on stores and products <br>
            -Average Orders Product <br>
            -Access to Discover<br>
            -Product Page Export<br>
            -Weekly Email Reports <br>
            -Top Shops Ranking, and all this live.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How fast can you spy stores?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="color:white;">
            Once again, we are the fastest on the market. <br>
            Trakly maps and synchronizes the latest scraping results every 10 seconds with your dashboard.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How accurate is this?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="color:white;">
            It is near perfection.<br>
            Trakly iterates its queries at a really high frequency. <br>
            We are able to have a data accuracy of more than 95%.<br>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour ">
            Can I pay with my company?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="color:white;">
            Yes, you can pay with your company.<br>
            We provide you personal and professional invoices.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Can I stop my subscription at any time?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="color:white;">
            Of course! You can stop your plan at any time.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<style>

.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.accordion-button:not(.collapsed) {
  color: #f9bf72;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-button {
  color:white;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.feature p{
  color:white !important;
}

.feature h2{
  color:white !important;
}

ul li{
  color:white !important;
}

.feature-icon{
  border-radius: 4px;
  background-color:white !important;
  width: fit-content;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(38,40,43,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(38,40,43,1);
  box-shadow: 10px 10px 0px 0px rgba(38,40,43,1);
}

#shadow-orange{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(249,195,112,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(249,195,112,1);
  box-shadow: 10px 10px 0px 0px rgba(249,195,112,1);
}

.feature-icon i{
  font-size:50px;
  text-align:left;
}

*{
background-color:#0F1215 !important;
}

footer{
  color:white !important;

}

.card-add{
  border:2px dotted #0000006e;
  padding: 15px 20px;
  margin: auto;
  border-radius:5px;
}

.card-add p{
  color:#0000006e !important;
  text-align:center;
  margin:0px;
  font-size:14px;
}

  div{
      word-wrap: break-word
  }

  .content-section{
    padding:8vh 0;
  }
  label{
    display:none;
  }

  a{
    text-decoration: none !important;
    cursor:pointer;
    }

    a:hover{
      cursor:pointer !important;
    }

  .header-card {
  padding: 15px 5px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius:5px;
  border:2px solid #F2F7F7;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }

  .card {
  padding: 15px 20px;
  margin: auto;
  background-color:#FFFFFF;
  border-radius:5px;
  border:2px solid #F2F7F7;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }

  fieldset .form-group{
  width: 85%;
  margin: auto;
  }
  .subtitle{
  font-size:14px;
  }



  input{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin:20px 0px;
  padding:10px 20px !important;
  }

  button a{
      all:unset !important;
  }


  .form-control::placeholder {
  color: black;
  opacity: 0.3;
  }

  .main-btn{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-radius:5px;
    color:white;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 8px 16px;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .main-btn-outline{
    background-color:transparent;
    border-radius:5px;
    color:#0F1215;
    border:2px solid #0F1215;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 8px 16px;
    font-size: 0.9rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }



  </style>
{% endblock content %}
