*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color:#F2F7F7;
  font-family: 'Poppins', sans-serif !important;
}

html{
  background-color:#F2F7F7;
  font-family: 'Poppins', sans-serif !important;
}
div {
word-wrap: break-word
}

a{
  color:black !important;
}

header{
  background-color:#F2F7F7;
}

button a{
  all:unset !important;
}

h1{
  color:#0F1215 !important;
  font-weight:bold !important;
}

h2{
  color:#0F1215 !important;
  font-weight:bold !important;
}

p{
  color:#42474D !important;
}
.icone-gradient{
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.gradient{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}


.main-btn{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  border-radius:5px;
  color:white !important;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 8px 16px;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main-btn-outline{
  background-color:transparent;
  border-radius:5px;
  color:#0F1215;
  border:2px solid #0F1215;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 8px 16px;
  font-size: 0.9rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main-btn-outline:hover{
  opacity:0.8;
}

.main-btn:hover{
  opacity:0.8;
  color:white !important;
}

.text-gradient{
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) !important;
-webkit-background-clip: text !important;;
-webkit-text-fill-color: transparent !important;;
}

footer{
background-color:#F2F7F7;
}

.copyright{
font-weight:lighter;
text-align:center;
font-size:12px;
color: #0F1215 !important;
font-weight:normal;
opacity:0.5;
}

footer .nav-link{
color: #0F1215 !important;
font-weight:normal;
opacity:0.5;
}
