{% extends "page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="row justify-content-center gx-5 pt-4">
    <div class="col-sm-12">
      <h2 class="account-heading">Update your billing information</h2>
      <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit" name="button" class="btn main-btn mt-2">Update</button>
        </div>
      </form>
      <a href="{% url 'profile' %}" class="text-secondary" style="text-decoration:none;"><small>Cancel</small></a>
    </div>
  </div><br>
</div>

{% endblock content %}
