{% extends "page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="row justify-content-center gx-5 pt-4">
    <div class="col-sm-5  pt-3 pb-3" style="height: fit-content;">
      <div class="row">
        <div class="col-sm-12">
          <div class="row header-card mb-2">
            <div class="col-sm-12" style="padding:30px;">
              <h2 class="account-heading">Profile Information</h2>
              <p class="mb-3" style="text-align:left; margin:0; font-size:16px;"><i class="fa-solid fa-user icone-gradient"></i> Username : {{ user.username }} <br><i class="fa-solid fa-envelope icone-gradient"></i> Email : {{ user.email }}</p>
            </div>
          </div>
          <div class="row header-card">
            <div class="col-sm-12" style="padding:30px;">
              <h5 class="mb-3" style="font-weight:bold;">Billing information</h5>
              <p class="mb-1" style="text-align:left; margin:0; font-size:16px;">Society : {{ user.profile.user_society }}</p>
              <p class="mb-1" style="text-align:left; margin:0; font-size:16px;">Adress : {{ user.profile.user_adress }}</p>
              <p class="mb-1" style="text-align:left; margin:0; font-size:16px;">Zipcode : {{ user.profile.user_zipcode }} </p>
              <p class="mb-1" style="text-align:left; margin:0; font-size:16px;">Country : {{user.profile.user_country}}</p>
              <a href="{% url 'profile-update' %}" class="main-btn-outline mt-2" style="text-decoration:none;"><small>Update informations</small></a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-6" style="height: fit-content;">
        <div class="row pt-3 pb-3 header-card mb-2">
          <div class="col-sm-7">
            <small class="text-secondary">Current plan : </small>
            <h2 class="account-heading"><span style="text-transform:capitalize;">{{user.profile.user_subscription}}</span> Plan <span style="font-weight:normal; font-size:20px;">{{user.profile.user_subscription_price|stringformat:".0f"}}$ <small>/ Month</small></span></h2>
          </div>
          <div class="col-sm-5">
            <a href="#" class="main-btn mt-3" style="float:right;">
              {% if user.profile.user_subscription == "free" %}
              Upgrade now to Small Plan
              {% elif user.profile.user_subscription == "small" %}
              Upgrade now to Plus Plan
              {% elif user.profile.user_subscription == "plus" %}
              Upgrade now to Pro Plan
              {% elif user.profile.user_subscription == "pro" %}
              Contact us to upgrade your plan
              {% else %}
              {%endif%}
            </a>
            <a class="text-secondary" style="text-decoration:none; font-size:12px; float:right; margin-right:5px; margin-top:3px;">Cancel my Subscription</a>
          </div>
        </div>
    </div>
  </div>
</div>
<style>
  .header-card{
  background-color:#FFFFFF;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  }
</style>

{% endblock content %}
