{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<a href="/" class="d-flex align-items-center mt-5 mb-lg-0 text-white text-decoration-none">
  <img src="https://zupimages.net/up/22/44/qhse.png" height="70px" width="auto"  style="margin: auto; display: block;">
</a>
<div class="content-section">
  <main class="form-signin">
    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="pt-4 form-group" >
      <h1 class="mb-2 text-center"  style="font-weight:bold;">Nice to meet you 👀</h1>
      <p class="subtitle text-center mb-0">Register now to access your dashboard<br></p>
      </div>
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <div class="form-group pt-3" style="margin: auto;text-align: center;display: block;">
        <button type="submit" name="button" class="main-btn">Sign up now</button>
      </div>
    </form>

    <div class="pt-3 pb-4 text-center">
      <small class="text-muted" style="font-size:13px;">
        Already have an account ?
        <a class="ml-2" href="{% url 'login' %}" style="cursor:pointer;"><strong>Login</strong></a>
      </small>
    </div>
  </main>

</div>
<script>
  document.getElementsByName('username')[0].placeholder="Your username";
  document.getElementsByName('email')[0].placeholder='exemple@mail.com';
  document.getElementsByName('password1')[0].placeholder='Your password';
  document.getElementsByName('password2')[0].placeholder='Confirm your password';
  $( "#id_is_creator" ).prop( "checked", false );
</script>
<style>


  #id_is_creator{display:none !important;}
  #div_id_is_creator{display:none !important;}

.content-section{
  padding:10vh 0;
}
  label{
  display:none;
}
#hint_id_password1, #hint_id_password2, #hint_id_username{
  display:none;

}
  .form-signin {
    width: 100%;
    max-width: 475px;
    padding: 25pxpx;
    margin: auto;
    background-color:white;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
  fieldset .form-group{
    width: 85%;
    margin: auto;
  }
  .subtitle{
    font-size:14px;

  }

  a:hover{
    cursor:pointer !important;
  }

  input{
    border: 2px solid #F2F7F7 !important;;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px;
    margin:20px 0px;
    padding:10px 20px !important;
  }

  button a{
      all:unset !important;
  }

  a{
      all:unset !important;
  }

  .form-control::placeholder {
  color: black;
  opacity: 0.3;
}


  .main-btn{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  border-radius:5px;
  color:white;
  border:0px solid #0F1215;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 8px 85px;
  font-size: 25px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .main-btn:hover{
      background-color:white;
      border-radius:5px;
      color:white;
  }

</style>

{% endblock content %}
